build/
images/
ec/results/
ec/wandb/
icecuber/
.ipynb_checkpoints
dist/
icecuber/
*.code-workspace

.merlin
.idea/
__pycache__
scratch/
.DS_Store
data/
output/
*.egg-info
*.img

# Ignore Python venv and caches
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.out
*.tmp
nohup.out

# DreamCoder training outputs
tmp/
*.json
*.pickle

# Jupyter stuff
.ipynb_checkpoints/

# System files
.DS_Store
